.category-title {
  font-size: 18px;
  font-weight: 600;
  color: #838383;
  margin: 22px 0;
}

.category-title:first-of-type {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .category-title {
    font-size: 16px;
    margin: 18px 0 16px;
  }
}
